;;Define where the different sources of data
(twitter-source {:con-key "TWITTER-CONSUMER-KEY"
                 :con-secret "TWITTER-CONSUMER-SECRET"
                 :token "TWITTER-CONSUMER-ACCESS-TOKEN"
                 :token-secret "TWITTER-CONSUMER-ACCESS-TOKEN-SECRET"}

                 {:track "SPACE SEPERATED HASHTAGS"}) 

                 
(flows
       #(log/info %) 
)
