;;;;;;;;;;;;;;;;;;;;;;;;;;SOURCES OF DATA
;;USE_TWITTER_SRC (twitter-source {:con-key "%%TWITTER_CONSUMER_KEY%%"
;;USE_TWITTER_SRC                  :con-secret "%%TWITTER_CONSUMER_SECRET%%"
;;USE_TWITTER_SRC                  :token "%%TWITTER_CONSUMER_ACCESS_TOKEN%%"
;;USE_TWITTER_SRC                  :token-secret "%%TWITTER_CONSUMER_ACCESS_TOKEN_SECRET%%"}
;;USE_TWITTER_SRC 
;;USE_TWITTER_SRC                  {:track "%%TWITTER_HASHTAGS%%"}) 

                 
(flows
       #(log/info %) 
)
