;;;;;Valid Log levels are [:trace :debug :info :warn :error :fatal :report]
(log-level :debug)

;;;;;;;;;;;;;;;;;;;;;;;;;;SOURCES OF DATA
;;USE_TWITTER_SRC (twitter-source {:con-key "%%TWITTER_CONSUMER_KEY%%"
;;USE_TWITTER_SRC                  :con-secret "%%TWITTER_CONSUMER_SECRET%%"
;;USE_TWITTER_SRC                  :token "%%TWITTER_CONSUMER_ACCESS_TOKEN%%"
;;USE_TWITTER_SRC                  :token-secret "%%TWITTER_CONSUMER_ACCESS_TOKEN_SECRET%%"}
;;USE_TWITTER_SRC 
;;USE_TWITTER_SRC                  {:track "%%TWITTER_HASHTAGS%%"}) 

;;USE_WEB_SRC (web-source {:root-url "%%WEB_ROOT_URL%%"
;;USE_WEB_SRC              :page-crawl-limit %%WEB_PAGE_CRAWL_LIMIT%%})


;;;;;;;;;;;;;;;;;;;;;;;;;;FLOWS
(flows
       sensibly-print-events 
       (samsara)
)
