;;;;;Valid Log levels are [:trace :debug :info :warn :error :fatal :report]
(log-level :debug)

;;;;;;;;;;;;;;;;;;;;;;;;;;SOURCES OF DATA
(twitter-source {:con-key "TWITTER_CONSUMER_KEY"
                 :con-secret "TWITTER_CONSUMER_SECRET"
                 :token "TWITTER_CONSUMER_ACCESS_TOKEN"
                 :token-secret "TWITTER_CONSUMER_ACCESS_TOKEN_SECRET"}

                 {:track "SPACE SEPERATED HASHTAGS"}) 

;;(web-source {:root-url "http://www.google.com"
;;             :page-crawl-limit 50})


;;;;;;;;;;;;;;;;;;;;;;;;;;FLOWS
(flows
       sensibly-print-events 
       (samsara)
)
