;;;;;;;;;;;;;;;;;;;;;;;;;;SOURCES OF DATA
;;TWITTER_CONF (twitter-source {:con-key "%%TWITTER-CONSUMER-KEY%%"
;;TWITTER_CONF                  :con-secret "%%TWITTER-CONSUMER-SECRET%%"
;;TWITTER_CONF                  :token "%%TWITTER-CONSUMER-ACCESS-TOKEN%%"
;;TWITTER_CONF                  :token-secret "%%TWITTER-CONSUMER-ACCESS-TOKEN-SECRET%%"}
;;TWITTER_CONF 
;;TWITTER_CONF                  {:track "%%TWITTER-HASHTAGS%%"}) 

                 
(flows
       #(log/info %) 
)
